html, body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.block{
  color: #ffffff;
  background-color: #04053fef;
  padding: 5%;
}


.block-1{
  background-color: #270238;
}

full-page{
  height: 100vmax;
}